@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

.icon {
  font-size: 18px;
}

.navbar-brand {
  color: black;
  font-size: 35px !important;
  font-weight: 600;
}

.contact,
.icon {
  color: black;
  font-weight: 400;
}


/* #navbar-mid .input-group{
  width: auto;
} */


#navbar-mid .form-control {
  border-radius: 50px 0 0 50px;
  border-color: black !important;
}

#navbar-mid #btn {
  border-radius: 0 50px 50px 0;
}

#navbar-mid i {
  font-size: 20px;
}

#Wishlist:hover {
  text-decoration: underline;
}

#cart:hover {
  text-decoration: underline;
}

#login {
  background-color: orange;
}

#Category a {
  font-size: 18px;
}

#Navhidden {
  margin-top: -10px;
}

#NavbarHidden .navbar-brand {
  position: absolute;
  margin-left: 60px;
  font-size: 20px !important;
}

#NavbarHidden span {
  font-size: 18px;
}

.navbar-toggler {
  border: none;
}

#poster a{
  border: black 1px solid;
}

#poster h1,h2{
  font-size: 60px;
  font-weight: bolder; 
}

#poster p{
  font-size: 23px;
  color: #999999;
}

.glass{
  position: absolute;
  width: 151.92px;
  height: 366.1px;
  left: 1370.11px;
  top: 311.16px;
  background: rgba(255,255,255,0.4);
  border-radius: 24.6533px 24.6533px 0px 0px;
}
 